/* General Styles */
body {
    font-family: 'Spartan', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #070724;
    color: #fff;
    background-image: url('assets/background-stars.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 11px;
}

a:hover {
    transition: 0.3s;
    color: #6062dd;
}

main {
    max-width: 1110px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    height: calc(100vh - 144px);
}

/* Header Styles */
header {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 2px;
}

header .title {
    font-family: 'Antonio', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

nav.planets {
    display: flex;
    gap: 15px;
    text-transform: uppercase;
}

nav.planets a {
    opacity: 75%;
    color: #fff;
    font-size: 11px;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease;
    position: relative;
}

nav.planets a:hover {
    color: #ffffff;
    opacity: 100%;
}

nav.planets a::before {
    content: '';
    position: absolute;
    top: -22px;
    left: 0;
    right: 0;
    height: 5px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

nav.planets a.mercury:hover::before {
    background-color: #419EBB;
}
nav.planets a.venus:hover::before {
    background-color: #EDA249;
}
nav.planets a.earth:hover::before {
    background-color: #6f2ed6;
}
nav.planets a.mars:hover::before {
    background-color: #D14C32;
}
nav.planets a.jupiter:hover::before {
    background-color: #D83A34;
}
nav.planets a.saturn:hover::before {
    background-color: #CD5120;
}
nav.planets a.uranus:hover::before {
    background-color: #1EC2A4;
}
nav.planets a.neptune:hover::before {
    background-color: #2D68F0;
}

/* Main Content Styles */
.planet-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

.planet-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#planet-image {
    width: 290px;
    height: 290px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    margin-right: 50px;
}

.planet-info {
    max-width: 33%;
    flex-grow: 1;
}

h1 {
    font-family: 'Antonio', sans-serif;
    font-weight: 500;
    font-size: 80px;
    margin: 0;
    text-transform: uppercase;
    line-height: 103px;
}

p, #planet-source {
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    line-height: 25px;
    margin-bottom:30px;
}

/* Stats Section Styles */
.planet-stats {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    box-sizing: border-box;
}

.stat {
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    width: 255px;
    height: 128px;
    border: 1px solid #d8d8d833;
}

.stat span {
    display: block;
    text-align: center;
    position: relative;
    top: 25%;
}

.stat span:first-child {
    font-family: 'Spartan', sans-serif;
    font-size: 11px;
    color: #aaa;
}

.stat span:last-child {
    font-family: 'Antonio', sans-serif;
    font-size: 40px;
    font-weight: bold;
}


/* Tabs Styles */
.tabs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    max-width: 350px;
}

.tab {
    background: none;
    border: none;
    color: #fff;
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    cursor: pointer;
    transition: color 0.3s ease;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tab-number {
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff80;
    margin-right: 30px;
    margin-left: 25px;
}
.tab-text {
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff; /* Default color for tab text */
    text-transform: uppercase;
    letter-spacing: 2px;
}
.tab-button {
    border: 1px solid #d8d8d833;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    justify-content: flex-start;
}

/* Updated tab styles for active and hover states */
.tab-button.active {
    background-color: #419EBB;
}

.tab-button.active , .tab-button.active {
    color: #ffffff33;
}

.tab-button:hover {
    background-color: #d8d8d82a; 
}

.tab-number {
    color: #ffffff80;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    main {
        padding: 20px;
        height: auto;
    }

    header {
        flex-direction: column;
        height: auto;
        padding-bottom: 10px;
    }

    nav.planets {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .planet-container {
        flex-direction: column;
        align-items: center;
    }

    .planet-info {
        max-width: 100%;
        text-align: center;
    }

    #planet-image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 48px;
    }

    .planet-stats {
        flex-direction: column;
        gap: 20px;
    }

    .stat {
        width: 100%;
    }

    .tabs {
        align-items: center;
        max-width: 100%;
    }
}